/*
    -------------------------------------------------------
    ----------  /jquery.antonydev.tech/  ------------------
    ----------  /04-escuela.it/  --------------------------
    ----------  /curso-jquery-escuela.it/  ----------------
    ----------  /src/styles/components/layout/  -----------
    ----------  /layout-footer.css  -----------------------
    -------------------------------------------------------
*/


.layout__footer {
    min-width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
}


/*
    ---------------------------
    -----  Layout Footer  -----
    ---------------------------
*/

.footer__container {
    width: 100vw;
    padding-bottom: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 10;

    /*  -----  background  -----  */
    background-color: var(--bg-dark-footer);
    background-image: var(--bg-grid-pattern-footer);
    background-size: var(--bg-grid-size-32x32);
    background-repeat: var(--bg-grid-repeat);

    box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.3);
}


/*
    ---------------------------
    -----  Footer Header  -----
    ---------------------------

    -  Estilos del footer header definidos en layout-header.css
    
*/




/*  
    -------------------------
    -----  Footer Main  -----
    -------------------------  
*/

.footer__main {
    position: relative;
    max-width: 120rem;
    width: 100%;
    margin: 0 auto;
    padding: 2rem;

    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;

    align-items: start;
}

@media (min-width: 768px) {
    .footer__main {
        grid-template-columns: repeat(2, 1fr);
        padding: 2rem 5rem;
    }
}

@media (min-width: 1024px) {
    .footer__main {
        grid-template-columns: repeat(3, 1fr);
    }
}


/*  
    -------------------------
    -----  Footer List  -----
    -------------------------  
*/

.footer__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
    padding: 1rem 1rem 2rem;
}

.footer__list--udemy {
    height: 52rem;
}

@media (min-width: 768px) {

    .footer__list--udemy,
    .footer__list--youtube {
        height: 48rem;
    }

    .footer__list--desarrollowebcom,
    .footer__list--escuelait {
        height: 30rem;
    }

    .footer__list:first-child {
        grid-column: span 2;
    }
}

@media (min-width: 1024px) {
    
    .footer__list--udemy,
    .footer__list--youtube,
    .footer__list--desarrollowebcom {
        height: 50rem;
    }

    .footer__list--escuelait,
    .footer__list--booksjquery,
    .footer__list--manualesjquery {
        height: 18rem;
    }
    
    .footer__list:first-child {
        grid-column: span 3;
    }
}


/*  
    -------------------------
    -----  Footer Title  -----
    -------------------------  
*/

.footer__list-title {
    width: 100%;
    margin-bottom: 2rem;
    padding-left: 2rem;

    font-size: 1.2rem;
    color: #fff;

    border-bottom: 1px solid white;
}

.item__link-title {
    font-weight: bold;
}

/*  
    --------------------------
    -----  Footer Items  -----
    --------------------------  
*/

.footer__item {
    width: 100%;
}

.footer__item a {
    width: 100%;
    margin-bottom: 1rem;
    padding-left: 2rem;

    font-size: 1rem;
    color: #f5e3e3;

    transition: all 300ms ease-in-out;
}

.footer__item a:hover {
    padding-left: 3rem;
    color: #fff;
    font-weight: bold;
}


/*  
    -------------------------
    -----  Separator  -----
    -------------------------  
*/

.footer__list-separator {
    width: 100%;
    height: 0.1rem;
    margin-top: auto;
    background-color: #E6EBF1;
}
