/*
    -------------------------------------------------------
    ----------  /jquery.antonydev.tech/  ------------------
    ----------  /04-escuela.it/  --------------------------
    ----------  /curso-jquery-escuela.it/  ----------------
    ----------  /src/styles/components/layout/  -----------
    ----------  /layout-header.css  -----------------------
    -------------------------------------------------------
*/


.layout__header {
    min-width: 100%;
    display: flex;
}


/*
    ---------------------------
    -----  Layout Header  -----
    ---------------------------
*/

.header__container {
    width: 100vw;
    position: relative;
    z-index: 100;
    padding: 2rem;
    display: grid;
    grid-template-rows: auto auto auto;
    justify-items: center;

    /*  -----  background  -----  */
    background-color: var(--bg-white);
    background-image: var(--bg-grid-pattern-header);
    background-size: var(--bg-grid-size-48x48);
    background-repeat: var(--bg-grid-repeat);

    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

@media (min-width: 1400px) {

    .header__container {
        display: grid;
        grid-template-columns: 35rem auto 35rem;
        column-gap: 5rem;
        padding: 5rem;
    }
}


/* 
    -----------------------------------------------------------------
    -----  Contenedor de los Logos y Banners de jQuery y Cursos -----
    -----------------------------------------------------------------  
*/

.header__container-icons-logos {
    position: relative;
    display: grid;
    gap: 2rem;
    margin-bottom: 2rem;
}

@media (min-width: 768px) {
    
    .header__container-icons-logos {
        width: 90%;
        display: flex;
        justify-content: space-around;
    }
}


@media (min-width: 1400px) {

    .header__container-icons-logos {
        flex-direction: column;
    }
}


/*
    --------------------------------------------------------------------
    -----  Contenedor de los Icons y Logos de jQuery y jQuery UI -----
    --------------------------------------------------------------------
*/

.container-icons-logos__jquery,
.container-icons-logos__jquery-ui {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
}


/*
    ------------------------------------------------
    -----  Icons y Logos de jQuery y jQuery UI -----
    ------------------------------------------------
*/

.jquery__icon-logo,
.jquery-ui__icon-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.jquery-logo,
.jquery-ui-logo {
    width: 12rem;
    height: auto;
    mix-blend-mode: multiply;
    transition: all 300ms ease-in-out;
}

.jquery-icon,
.jquery-ui-icon,
.github-icon {
    width: 3rem;
    height: 3rem;
    transition: all 300ms ease-in-out;
}

.github-icon {
    margin-right: 3rem;
}

.jquery-logo:hover,
.jquery-ui-logo:hover,
.jquery-icon:hover,
.jquery-ui-icon:hover,
.github-icon:hover {
    transform: scale(1.1);
}


@media (min-width: 768px) {

    .jquery-logo,
    .jquery-ui-logo {
        width: 15rem;
    }

    .jquery-icon,
    .jquery-ui-icon,
    .github-icon {
        width: 4rem;
        height: 4rem;
    }

}


/*
    --------------------------------------------------------
    -----  Contenedor de los Logos de cursos de jQuery -----
    --------------------------------------------------------
*/

.container-logos__cursos {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    width: auto; 
}

.cursos__logos {
    width: 6rem;
    height: 6rem;
    mix-blend-mode: multiply;
    transition: all 300ms ease-in-out;
}

.cursos__logos:hover {
    transform: scale(1.1);
}


/*
    ----------------------------------------------
    -----  Contenedor del Título del Header  -----
    ----------------------------------------------
*/

.header__container-title {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    margin-bottom: 2rem;
    border-radius: 30px;
    text-align: center;
    background-color: var(--bg-light);
    background-image: var(--bg-grid-light);
    background-size: 40px 40px;
    box-shadow: 10px 10px 10px rgb(209, 220, 235);
}


/*  -----  Título del Header  -----  */
.header__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.8rem;
    color: var(--color-primary);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.header__title p {
    font-size: 1.6rem;
}

@media (min-width: 768px) {

    .header__title {
        font-size: 2.8rem;
    }

    .header__title p {
        font-size: 2rem;
    }

}

@media (min-width: 1024px) {

    .header__title {
        font-size: 3.6rem;
    }

    .header__title p {
        font-size: 2.4rem;
    }

}
