/*
    -------------------------------------------------------
    ----------  /jquery.antonydev.tech/  ------------------
    ----------  /04-escuela.it/  --------------------------
    ----------  /curso-jquery-escuela.it/  ----------------
    ----------  /src/styles/components/layout/  -----------
    ----------  /layout-navbar.css  -----------------------
    -------------------------------------------------------
*/


/*  
    ---------------------------
    -----  Layout Navbar  -----
    ---------------------------
*/

.layout__navbar {
    width: 100%;
    display: flex;
    position: absolute;
    justify-content: center;
    align-self: center;
    top: 8.5rem;
    left: 0;
    z-index: 1000;
}

@media (min-width: 768px) {

    .layout__navbar {
        top: 0;
    }
}


/*  
    ----------------------------
    -----  Menú principal  -----  
    ----------------------------
*/

.navbar__container{
    position: fixed;
    width: 100%;
    max-height: 90dvh;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    padding: 1rem;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: radial-gradient(125% 125% at 50% 10%, #fff 40%, #6366f1 100%);
    background-repeat: repeat;
    box-shadow: 1px 1px 10px rgb(209, 220, 235);
}


@media (min-width: 768px) {

    .navbar__container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: start;
        gap: 2rem;
    }

}


/*
    --------------------------------------
    -----  Título del menú (navbar)  -----
    --------------------------------------
*/

.navbar-jquery-icon,
.navbar-jquery-ui-icon {
    width: 2rem;
    height: 2rem;
}

.navbar__title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2rem;
    /* margin-top: 2rem; */
    margin-top: 0;
    margin-bottom: 3rem;
    padding: 2rem;
    
    border-radius: 0 15px 50px 15px;
    background: linear-gradient(to right, #ffffff 0%, #ffffff 30%, #D84737 100%);
    box-shadow: 10px 10px 10px rgb(209, 220, 235);
}

.navbar__title--first {
    margin-top: 0;
}

.navbar__title h3,
.navbar-themes-jquery-ui__title h3 {
    font-size: 1.6rem;
    font-weight: bold;
    color: #036AAD;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

/*
    ---------------------------------------------
    -----  Lista e Items del menú (navbar)  -----
    ---------------------------------------------
*/

.navbar__list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 3rem;
    padding: 2rem;
    background: radial-gradient(125% 125% at 50% 10%, #fff 40%, #6366f1 100%);
    background-repeat: repeat;
}

@media (min-width: 768px) {

    .navbar__list {
        width: 30rem;
        margin-top: -3rem;
    }
}

.navbar__item {
    width: 100%;
    padding: 0 1rem;
}

.navbar__item a {
    position: relative;
    width: 100%;
    padding: 0.5rem 2rem;
    border-radius: 5px;
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 1rem;
    /* font-weight: bold; */
    color: #fff;
    background-color: #7096e5;
    box-shadow: 2px 2px 5px 3px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.navbar__item a:hover {
    margin-left: 2rem;
    background-color: #3b82f6;
}
