/*
    -------------------------------------------------------
    ----------  /jquery.antonydev.tech/  ------------------
    ----------  /04-escuela.it/  --------------------------
    ----------  /curso-jquery-escuela.it/  ----------------
    ----------  /src/styles/components/layout/  -----------
    ----------  /layout-header.css  -----------------------
    -------------------------------------------------------
*/



.layout__header {
    min-width: 100%;
    display: flex;
}


/*
    ---------------------------
    -----  Layout Header  -----
    ---------------------------
*/

.header__container {
    width: 100vw;
    min-height: 30rem;
    position: relative;
    z-index: 100;
    padding: 2rem;
    display: grid;
    grid-template-rows: auto auto auto;
    justify-items: center;

    /*  -----  background  -----  */
    background-color: var(--bg-white);
    background-image: var(--bg-grid-pattern-header);
    background-size: var(--bg-grid-size-48x48);
    background-repeat: var(--bg-grid-repeat);

    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

@media (min-width: 1200px) {

    .header__container {
        display: grid;
        /* grid-template-columns: 35rem auto 35rem; */
        grid-template-columns: 1fr 3fr 1fr;
        column-gap: 2rem;
        padding: 5rem 5rem 5rem 5rem;
    }
}


/* 
    -----------------------------------------------------------------
    -----  Contenedor de los Logos y Banners de jQuery y Cursos -----
    -----------------------------------------------------------------  
*/

.header__container-icons-logos {
    width: 80%;
    /* background-color: antiquewhite; */
    position: relative;
    display: grid;
    justify-content: center;
    margin-bottom: 2rem;
}

@media (min-width: 480px) {

    .header__container-icons-logos {
        width: 40rem;
        height: 6rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (min-width: 1200px) {

    .header__container-icons-logos {
        width: 25rem;
        height: 20rem;
        flex-direction: column;
    }
}


/*
    --------------------------------------------------------------------
    -----  Contenedor de los Icons y Logos de jQuery y jQuery UI -----
    --------------------------------------------------------------------
*/

.container-icons-logos__jquery,
.container-icons-logos__jquery-ui {
    width: 100%;
    /* background-color: azure; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding-top: 2rem;
}


/*
    ------------------------------------------------
    -----  Icons y Logos de jQuery y jQuery UI -----
    ------------------------------------------------
*/

.jquery__icon-logo,
.jquery-ui__icon-logo {
    display: inline-flex;
    gap: 2rem;
}

.jquery-logo,
.jquery-ui-logo {
    width: 10rem;
    aspect-ratio: 4 / 1;
    mix-blend-mode: multiply;
    transition: all 300ms ease-in-out;
}

.jquery-icon,
.jquery-ui-icon,
.github-icon {
    width: 2rem;
    aspect-ratio: 1 / 1;
    transition: all 300ms ease-in-out;
}

.github-icon {
    margin-right: 1.5rem;
}

.jquery-logo:hover,
.jquery-ui-logo:hover,
.jquery-icon:hover,
.jquery-ui-icon:hover,
.github-icon:hover {
    transform: scale(1.1);
}


@media (min-width: 768px) {

    .jquery-logo,
    .jquery-ui-logo {
        width: 12rem;
        height: auto;
    }

    .jquery-icon,
    .jquery-ui-icon,
    .github-icon {
        width: 3rem;
        height: 3rem;
    }

}


/*
    --------------------------------------------------------
    -----  Contenedor de los Logos de cursos de jQuery -----
    --------------------------------------------------------
*/

.container-logos__cursos {
    width: auto;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    justify-content: center;
    align-items: center;
}

.cursos__logos {
    width: 6rem;
    height: 6rem;
    mix-blend-mode: multiply;
    transition: all 300ms ease-in-out;
    border-radius: 10px;

}

.cursos__logos:hover {
    transform: scale(1.1);
}


.cursos__logos--escuela-it {
    width: 10rem;
    height: auto;
}


/*
    ----------------------------------------------
    -----  Contenedor del Título del Header  -----
    ----------------------------------------------
*/

.header__container-title {
    position: relative;
    width: 100%;
    max-width: 102.4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-bottom: 2rem;
    border-radius: 30px;
    text-align: center;
    /* background-color: aqua; */

}

.container__title-main,
.container__title-page {
    width: 100%;
    min-height: 3rem;
    padding: 1rem;
    border-radius: 0 15px 50px 15px;
    /* background-color: var(--bg-light);
    background-image: var(--bg-grid-light); */
    box-shadow: 10px 10px 10px rgb(209, 220, 235);
}

.container__title-main {
    background-color: var(--bg-light);
    background-size: 40px 40px;
}

.container__title-main--first {
    background: linear-gradient(to right, #ffffff 0%, #ffffff 30%, #036AAD 100%);
}

.container__title-page {
    background: linear-gradient(to right, #ffffff 0%, #ffffff 30%, #F89C15 100%);
}

.container__title-main--last {
    background: linear-gradient(to right, #ffffff 0%, #ffffff 30%, #D84737 100%);

}


/*  -----  Título del Header  -----  */
.header__title-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.8rem;
    color: var(--color-primary);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.header__title-page {
    font-size: 1.6rem;
    /* font-weight: 400; */
    font-weight: bold;
    color: var(--bg-light);
    color: var(--color-main-title);
    color: gold;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

@media (min-width: 768px) {

    .header__title-main {
        font-size: 2.8rem;
    }

    .header__title-page {
        font-size: 2.6rem;
    }

}

@media (min-width: 1024px) {

    .header__title-main {
        font-size: 3rem;
    }

    .header__title-page {
        font-size: 2.8rem;
    }

}