/*
    -------------------------------------------------------
    ----------  /jquery.antonydev.tech/  ------------------
    ----------  /04-escuela.it/  --------------------------
    ----------  /curso-jquery-escuela.it/  ----------------
    ----------  /src/styles/components/layout/  -----------
    ----------  /layout-main.css  -------------------------
    -------------------------------------------------------
*/



.layout__main {
    width: 100%;
}


.main__container {
    width: 100vw;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
    padding-bottom: 5rem;
}

@media(min-width: 768px) {
    
    .main__container {
        margin-top: 0;
    }
}



.main__section {
    width: 90%;
    max-width: 120rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
    /* padding: 0 2rem 5rem 2rem; */

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;

    border-radius: 50px 50px 50px 50px;
    background: var(--bg-main-section);
    box-shadow: 2px 2px 10px rgb(209, 220, 235);
}

.section__header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    background: linear-gradient(to right, #ffffff 0%, #ffffff 30%, #D84737 100%);
    border-radius: 50px 50px 0 0;
}

.section__title {
    font-size: 2rem;
    text-align: center;
    color: gold;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}


/*  -----  Sección de Imágenes  -----  */
.section__content--img {

    width: 100%;
    max-width: 120rem;
    
    margin-bottom: 5rem;
    padding: 3rem 2rem 5rem;
    
    /* border-radius: 0 0 50px 50px;
    background: var(--bg-main-section);
    box-shadow: 2px 2px 10px rgb(209, 220, 235); */

    column-gap: 3rem;
}


@media (min-width: 480px) {
    .section__content--img {
        column-count: 2;
    }
}

@media (min-width: 768px) {
    .section__content--img {
        column-count: 3;
    }
}

@media (min-width: 1024px) {
    .section__content--img {
        column-count: 4;
    }
}


.section__card-img {
    break-inside: avoid;
    margin-bottom: 3rem;

    display: flex;
    flex-direction: column;
    background-color: #E8DFFD;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.section__card-img:hover img {
    transform: scale(1.2);
    box-shadow: 0 20px 40px rgba(0,0,0,.15);
}


/*  -----  título  -----  */
.card__title {
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
    font-size: 1.6rem;
    color: var(--color-primary);
    background-color: var(--bg-light);
    text-align: center;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

@media(min-width: 480px)  {

    .card__title {
        font-size: 1.2rem;
    }
}


.card__img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 5px;
    transition: transform 300ms ease, box-shadow 300ms ease;
}

.card__img:hover {
    transform: scale(1.02);
}


/*  -----  Sección de Código  -----  */
.main__section--practica,
.section__content--practica {
    width: 95%;
    max-width: 80rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    gap: 2rem;
    margin-bottom: 3rem;
    background-color: #ffffff;
    box-shadow: 1px 1px 10px rgba(61, 67, 75, 0.3);
}

@media (min-width: 768px) {
    
    .main__section--practica,
    .section__content--practica {
        padding: 5rem;
    }
}

