<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /04-escuela.it/curso-jquery-escuela.it/
    RewriteRule ^index\.html$ - [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule . /04-escuela.it/curso-jquery-escuela.it/index.html [L]
</IfModule>

