<!--  
    -------------------------------------------------
    ----------  /jquery.antonydev.tech/  ------------
    ----------  /04-escuela.it/  --------------------
    ----------  /curso-jquery-escuela.it/  ----------
    ----------  /src/components/buttons/  -----------
    ----------  /btn-navbar.html  -------------------
    -------------------------------------------------
-->


<!--  -----  Contenedor del Botón Navbar de Navegación  -----  -->
<div class="btn-navbar__container">

    <!--  -----  Botón del Menú Hamburguesa de Navegación Open -----  -->
    <div class="navbar__btn-open">
        <div class="btn__icon-open"> </div>
        <div class="btn__icon-open"> </div>
        <div class="btn__icon-open"> </div>
    </div>

    <!--  -----  Botón del Menú Hamburguesa de Navegación Close -----  -->
    <div class="navbar__btn-close">
        <div class="btn__icon-close"> </div>
        <div class="btn__icon-close"> </div>
    </div>

</div>
