/*
    -------------------------------------------------------
    ----------  /jquery.antonydev.tech/  ------------------
    ----------  /04-escuela.it/  --------------------------
    ----------  /curso-jquery-escuela.it/  ----------------
    ----------  /src/styles/pages/clase-03/  --------------
    ----------  /00-practica-primeros-pasos.css  ----------
    -------------------------------------------------------
*/


@media (min-width: 1024px) {
    .section__content--img {
        column-count: 3;
    }
}


.titulo {
    padding: 2rem;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.titular {
    color: blueviolet !important;
    background-color: aquamarine !important;
}
