/*
    -----------------------------------------------
    ----------  /jquery.antonydev.tech/  ----------
    ----------  /src/styles/pages/  ---------------
    ----------  /00-home.css  ---------------------
    -----------------------------------------------
*/



/*
    ---------------------------------------------------------
    -----  Header - Logos de las plataformas de cursos  -----
    ---------------------------------------------------------
*/

.cursos__logos--escuela-it {
    width: 10rem;
    height: auto;
}

.main__section--home {
    width: 90%;
    max-width: 120rem;
    display: block;
    text-align: left;
    margin: 0 auto;
    margin-bottom: 5rem;
}


/* Título destacado */
.main__section--home strong,
.main__section--home b {
    font-weight: 700;
}

/* Emojis como encabezados */
.main__section--home p,
.main__section--home div,
.main__section--home span {
    margin-bottom: 1.6rem;
    text-align: justify;
}

/* Íconos con espacio y estilo */
.main__section--home .emoji-title {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    font-size: 1.6rem;
    margin-top: 3rem;
    margin-bottom: 1rem;
    padding: 1rem;
    font-weight: 700;
    border-bottom: 4px solid #2b7bff33;
    background-color: aliceblue;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

@media(min-width: 480px) {
    .main__section--home .emoji-title {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 5rem;
        font-size: 2rem;
    }
}


.main__section--home .jquery-icon,
.main__section--home .jquery-ui-icon {
    width: 3rem;
    height: auto;
}

/* .main__section--home .cursos__logos--escuela-it {
    height: 2rem;
}  */

.main__section--home .emoji-title a {
    display: inline-block;
    width: 8rem;
    height: 4rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}




.main__section--home .cursos__logos--jquery-books,
.main__section--home .cursos__logos--jquery-manuales {
    transform: scale(0.5);
}

/* Si quieres destacar bloques temáticos */
.main__section--home .block {
    margin: 2.5rem 0;
    padding: 2rem;
    border-left: 4px solid #2b7bff33;
    border-right: 4px solid #2b7bff33;
    border-bottom: 4px solid #2b7bff33;
}

/* Listas usadas en el texto (si las agregas luego) */
.main__section--home ul {
    padding-left: 2.5rem;
    margin: 1rem 0 2rem 0;
}

.main__section--home li {
    margin: 0.5rem 0;
}


