/*
    ---------------------------------------------------
    ----------  /jquery.antonydev.tech/  --------------
    ----------  /04-escuela.it/  ----------------------
    ----------  /curso-jquery-escuela.it/  ------------
    ----------  /src/styles/pages/clase-06/  ----------
    ----------  /02-ejemplo2.css  ---------------------
    ---------------------------------------------------
*/


.main__section--practica {
    min-height: 70rem;
}

@media (min-width: 768px) {
    
    .main__section--practica {
        min-height: 40rem;
    }
}

.practica__container {
    min-width: 25rem;
    width: 100%;
    max-width: 70rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    min-height: 30rem;
    margin-bottom: 3rem;
    padding: 1rem;
    border-radius: 5px;
    background-color: #ffffff;
}

.description,
.enunciado {
    min-width: 25rem;
    max-width: 70rem;
    width: 100%;
    padding: 2rem;
    background-color: #eef2f7;
    box-shadow: 10px 10px 15px rgba(0,0,0,0.2);
}
    
.miclase {
    min-width: 25rem;
    max-width: 70rem;
    display: block;
    width: 100%;    
    height: 4rem;
    margin-bottom: 1rem;
    padding: 1rem;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
}

#lista {
    min-width: 25rem;
    max-width: 70rem;
    width: 100%;
    padding: 2rem;
    background-color: #f9fafb;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
}

#lista li {
    font-size: 1.2rem;
    margin: 0.5rem 0;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
}

.enunciado {
    min-width: 25rem;
    max-width: 70rem;
    width: 100%;
    padding: 2rem;
    font-size: 1rem;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
}

@media(min-width: 480px) {
    .enunciado {
        font-size: 1.4rem;
    }
}

@media(min-width: 768px) {
    .enunciado {
        font-size: 1.6rem;
        padding-left: 5rem;
    }
}


#info1,
#info2 {
    min-width: 25rem;
    width: 100%;
    max-width: 70rem;
    min-height: 20rem;
    padding: 2rem 3rem;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
}

#info1 h3,
#info2 h3 {
    margin-bottom: 2rem;
    padding: 0.5rem;
    font-size: 1.4rem;
    font-weight: 100;
    background-color: #f9fafb;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
}

#info1 h3 b,
#info2 h3 b {
    font-size: 1.6rem;
    font-weight: 600;
}

.main__ejemplo2 li {
    margin: 1rem 0;
}
