<!--  
    -------------------------------------------------
    ----------  /jquery.antonydev.tech/  ------------
    ----------  /04-escuela.it/  --------------------
    ----------  /curso-jquery-escuela.it/  ----------
    ----------  /src/components/layout/  ------------
    ----------  /layout-navbar.html  ----------------
    -------------------------------------------------
-->


<!--
    ------------------------------
    ----------  NAVBAR  ----------  
    ------------------------------
-->

<div class="navbar__container" title="Arrrastrame!!!">


    <!--
        --------------------------------------  
        -----  Título del menú (navbar)  -----
        --------------------------------------  
    -->
    <div class="navbar__title navbar__title--first">

        <!--  -----  Icon de jQuery -----  -->
        <a href="https://jquery.com/" target="_blank" rel="noopener noreferrer">
            <img class="navbar-jquery-icon"
                src="/04-escuela.it/curso-jquery-escuela.it/assets/img/jquery/jquery-icon.svg" alt="Logo jQuery"
                loading="lazy">
        </a>

        <a href="#">
            <h3> Navigation </h3>
        </a>

        <!--  -----  Icon de jQuery UI -----  -->
        <a href="https://jqueryui.com/" target="_blank" rel="noopener noreferrer">
            <img class="navbar-jquery-ui-icon"
                src="/04-escuela.it/curso-jquery-escuela.it/assets/img/jquery-ui/jquery-ui-icon.svg"
                alt="Logo jQuery UI" loading="lazy">
        </a>

    </div>


    <!--  
        ------------------------------------------
        -----  List Clase 1 - Que es jQuery  -----
        ------------------------------------------
    -->
    <ul class="navbar__list">


        <!--  -----  Título del menú (navbar)  -----  -->
        <li class="navbar__title">

            <!--  -----  Icon de jQuery -----  -->
            <a href="https://jquery.com/" target="_blank" rel="noopener noreferrer">
                <img class="navbar-jquery-icon" src="/04-escuela.it/curso-jquery-escuela.it/assets/img/jquery/jquery-icon.svg" alt="Logo jQuery"
                    loading="lazy">
            </a>

            <a href="#" data-id="clase01">
                <h3> Clase 1 - Que es jQuery </h3>
            </a>


            <!--  -----  Icon de jQuery UI -----  -->
            <a href="https://jqueryui.com/" target="_blank" rel="noopener noreferrer">
                <img class="navbar-jquery-ui-icon" src="/04-escuela.it/curso-jquery-escuela.it/assets/img/jquery-ui/jquery-ui-icon.svg" alt="Logo jQuery UI"
                    loading="lazy">
            </a>

        </li>


        <!--  -----  item Home  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="clase01">
                Que es jQuery
            </a>
        </li>

    </ul>


    <!--  
        ---------------------------------------------------------
        -----  List Clase 2 - Usar jQuery en la Actualidad  -----
        ---------------------------------------------------------
    -->
    <ul class="navbar__list">


        <!--  -----  Título del menú (navbar)  -----  -->
        <li class="navbar__title">

            <!--  -----  Icon de jQuery -----  -->
            <a href="https://jquery.com/" target="_blank" rel="noopener noreferrer">
                <img class="navbar-jquery-icon" src="/04-escuela.it/curso-jquery-escuela.it/assets/img/jquery/jquery-icon.svg" alt="Logo jQuery"
                    loading="lazy">
            </a>

            <a href="#" data-id="clase02">
                <h3> Clase 2 - Usar jQuery en la Actualidad </h3>
            </a>


            <!--  -----  Icon de jQuery UI -----  -->
            <a href="https://jqueryui.com/" target="_blank" rel="noopener noreferrer">
                <img class="navbar-jquery-ui-icon" src="/04-escuela.it/curso-jquery-escuela.it/assets/img/jquery-ui/jquery-ui-icon.svg" alt="Logo jQuery UI"
                    loading="lazy">
            </a>

        </li>


        <!--  -----  item Home  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="clase02">
                Clase 2 - Usar jQuery en la Actualidad
            </a>
        </li>

    </ul>




</div>