<!--  
    -------------------------------------------------
    ----------  /jquery.antonydev.tech/  ------------
    ----------  /04-escuela.it/  --------------------
    ----------  /curso-jquery-escuela.it/  ----------
    ----------  /src/components/layout/  ------------
    ----------  /layout-footer.html  ----------------
    -------------------------------------------------
-->


<!--  
    ------------------------------
    ----------  FOOTER  ----------
    ------------------------------  
-->
<div class="footer__container">


    <!--
        ---------------------------
        -----  Footer Header  -----
        ---------------------------
    -->

    <header class="footer__header">


        <!--  
            ---------------------------------------------------------------
            -----  Contenedor de los icons y Logos de jQuery y Cursos -----
            ---------------------------------------------------------------
        -->

        <div class="footer__container-icons-logos">


            <!--  -----  Contenedor de los Logos de jQuery -----  -->
            <div class="container-icons-logos__jquery">

                <!--  -----  Contenedor Icon y Logo de jQuery -----  -->
                <div class="jquery__icon-logo">

                    <!--  -----  Logo de jQuery -----  -->
                    <a href="https://jquery.com/" target="_blank" rel="noopener noreferrer">
                        <img 
                        class="jquery-logo"
                            src="/04-escuela.it/curso-jquery-escuela.it/assets/img/logos/jquery/jquery-logo.svg"
                            alt="Banner jQuery"
                            width="253"
                            height="63"
                            
                        >
                    </a>

                    <!--  -----  Icon de jQuery -----  -->
                    <a href="https://jquery.com/" target="_blank" rel="noopener noreferrer">
                        <img 
                            class="jquery-icon"
                            src="/04-escuela.it/curso-jquery-escuela.it/assets/img/logos/jquery/jquery-icon.svg"
                            alt="Logo jQuery"
                            width="128"
                            height="128"
                        >
                    </a>

                </div>
            
            </div>


            <!--  -----  Contenedor de los Logos de los cursos  -----  -->
            <div class="container-logos__cursos container-logos__cursos--first">

                <!--  -----  Logo de Escuela.it -----  -->
                <img
                    class="cursos__logos cursos__logos--escuela-it"
                    src="/04-escuela.it/curso-jquery-escuela.it/assets/img/logos/escuelait/escuelait-logo.avif"
                    alt="Logo Escuela.it"
                    width="200"
                    height="200"
                >

            </div>

        </div>



        <!--  
            ---------------------------------------------
            -----  Contenedor del Título del Footer -----
            ---------------------------------------------
        -->
        
        <div class="footer__container-title">

            <div class="container__title-main container__title-main--first">

                <h1 class="footer__title-main"> 
                    <a 
                        href="#" 
                        data-id="home" 
                        title=" 🏡Ir a Inicio 🏡"
                        aria-label="Ir a Inicio"
                    >
                        &lt; Curso jQuery Escuela.IT /&gt; 
                    </a>
                </h1>

            </div>

            <div class="container__title-page">
                
                <h2 class="footer__title-page" id="footerTitle"> 
                    <!--  *****  renderizado del título con el plugin de jQuery  *****  -->
                </h2>

            </div>

            <div class="container__title-main container__title-main--last">

                <h3 class="footer__title-main"> 
                    &lt; escuela.it /&gt;
                </h3>

            </div>
                    
        </div>


    
        <!--  
            ------------------------------------------------------------------
            -----  Contenedor de los Icons y Logos de jQuery UI y Cursos -----
            ------------------------------------------------------------------
        -->
    
        <div class="footer__container-icons-logos">

            <!--  -----  Contenedor Icon y Logo de jQuery UI  -----  -->
            <div class="container-icons-logos__jquery-ui">

                <!--  -----  Icon y Logo de jQuery UI -----  -->
                <div class="jquery-ui__icon-logo">

                    <!--  -----  icon de GitHub -----  -->
                    <a href="https://github.com/AntoniCut/jquery.antonydev.tech" target="_blank" rel="noopener noreferrer">
                        <img 
                            class="github-icon"
                            src="/04-escuela.it/curso-jquery-escuela.it/assets/img/logos/github/github-icon.svg"
                            alt="Logo GitHub"
                            width="32"
                            height="32"
                        >
                    </a>

                    <!--  -----  Logo de jQuery UI -----  -->
                    <a href="https://jqueryui.com/" target="_blank" rel="noopener noreferrer">
                        <img 
                            class="jquery-ui-logo"
                            src="/04-escuela.it/curso-jquery-escuela.it/assets/img/logos/jquery-ui/jquery-ui-logo.avif"
                            alt="Banner jQuery UI"
                            width="1280"
                            height="325"
                            
                        >
                    </a>

                    <!--  -----  Icon de jQuery UI -----  -->
                    <a href="https://jqueryui.com/" target="_blank" rel="noopener noreferrer">
                        <img 
                            class="jquery-ui-icon"
                            src="/04-escuela.it/curso-jquery-escuela.it/assets/img/logos/jquery-ui/jquery-ui-icon.svg"
                            alt="Logo jQuery UI"
                            width="68"
                            height="59"
                            
                        >
                    </a>

                </div>

            </div>


            <!--  -----  Contenedor de los Logos de los cursos  -----  -->
            <div class="container-logos__cursos container-logos__cursos--last">
                
                <!--  -----  Logos de Escuela.it -----  -->
                <img
                    class="cursos__logos cursos__logos--escuela-it-icon"
                    src="/04-escuela.it/curso-jquery-escuela.it/assets/img/logos/escuelait/escuelait-icon.ico"
                    alt="Logo Escuela.it"
                    width="32"
                    height="32"
                >
                            
            </div>

        </div>

        
    </header>


    <!--
        -------------------------
        -----  Footer Main  -----
        -------------------------
    -->

    <main class="footer__main">


        <!--  
            --------------------------
            -----  list -  HOME  -----  
            --------------------------
        -->
        <ul class="footer__list">
            
            <li class="footer__list-title"> 
                <h3> Mis proyectos de jQuery </h3>
            </li>
            
            <li class="footer__item">
               <a href="/" class="item__link-title"> 
                   jquery.antonydev.tech
                </a>
            </li>

            <li class="footer__item">
               <a href="#" data-id="home" class="item__link-title"> 
                   Curso jQuery escuela.it
                </a>
            </li>

            <div class="footer__list-separator"> </div>

        </ul> 


        <!--  
            ------------------------------
            -----  List  -  Clase 1  -----
            ------------------------------
        -->
        <ul class="footer__list footer__list--clase-01">

            <li class="footer__list-title">
                <h3> Clase 1 - Que es jQuery </h3>
            </li>

            <li class="footer__item">
                <a href="#" data-id="clase01">
                    Que es jQuery
                </a>
            </li>

            <!-- <div class="footer__list-separator"> </div> -->

        </ul>


        <!--  
            -----------------------------
            -----  List -  Clase 2  -----
            -----------------------------
        -->
        <ul class="footer__list footer__list--clase-02">

            <li class="footer__list-title">
                <h3> Clase 2 - Usar jQuery en la Actualidad </h3>
            </li>

            <!--  -----  item 1  -----  -->
            <li class="footer__item">
                <a href="#" data-id="clase02">
                    Clase 2 - Usar jQuery en la Actualidad
                </a>
            </li>

            
            <!-- <div class="footer__list-separator"> </div> -->

        </ul>


        <!--  
            -----------------------------
            -----  List -  Clase 3  -----
            -----------------------------
        -->
        <ul class="footer__list footer__list--clase-03">

            <li class="footer__list-title">
                <h3> Clase 3 - Practica primeros pasos </h3>
            </li>

            <!--  -----  item 1  -----  -->
            <li class="footer__item">
                <a href="#" data-id="clase03">
                    Clase 3 - Practica primeros pasos
                </a>
            </li>

            
            <!-- <div class="footer__list-separator"> </div> -->

        </ul>


        <!--  
            -----------------------------
            -----  List -  Clase 4  -----
            -----------------------------
        -->
        <ul class="footer__list footer__list--clase-04">
            
            <li class="footer__list-title">
                <h3> Clase 4 - Como se organiza el curso </h3>
            </li>

            <li class="footer__item">
                <a href="#" data-id="clase04">
                    Clase 4 - Como se organiza el curso
                </a>
            </li>

            <!-- <div class="footer__list-separator"> </div> -->

        </ul>


        <!--  
            -----------------------------
            -----  List -  Clase 5  -----
            -----------------------------
        -->
        <ul class="footer__list footer__list--clase-05">
            
            <li class="footer__list-title">
                <h3> Clase 5 - Introducción a jQuery </h3>
            </li>

            <li class="footer__item">
                <a href="#" data-id="clase05">
                    Clase 5 - Introducción a jQuery
                </a>
            </li>

            <!-- <div class="footer__list-separator"> </div> -->

        </ul>


        <!--  
            -----------------------------
            -----  List -  Clase 6  -----
            -----------------------------
        -->
        <ul class="footer__list footer__list--clase-06">
            
            <li class="footer__list-title">
                <h3> Clase 6 - Primeros pasos con jQuery </h3>
            </li>

            <li class="footer__item">
                <a href="#" data-id="clase06">
                    Clase 6 - Primeros pasos con jQuery
                </a>
            </li>

            <li class="footer__item">
                <a href="#" data-id="clase06">
                    - Primeros pasos con jQuery. Ejemplo 1
                </a>
            </li>

            <li class="footer__item">
                <a href="#" data-id="clase06">
                    - Primeros pasos con jQuery. Ejemplo 2
                </a>
            </li>

            <!-- <div class="footer__list-separator"> </div> -->

        </ul>

        
        <!--  
            -----------------------------
            -----  List -  Clase 7  -----
            -----------------------------
        -->
        <ul class="footer__list footer__list--clase-07">
            
            <li class="footer__list-title">
                <h3> Clase 7 - Manipulación básica de elementos </h3>
            </li>

            <li class="footer__item">
                <a href="#" data-id="clase07">
                    Clase 7 - Manipulación básica de elementos
                </a>
            </li>

             <!--  -----  item 7 - 1  -----  -->
            <li class="footer__item">
                <a href="#" data-id="clase07HtmlText">
                    1. Métodos html() y text()
                </a>
            </li>

            <!--  -----  item 7 - 2  -----  -->
            <li class="footer__item">
                <a href="#" data-id="clase07AttrProp">
                    2. Métodos attr() y prop()
                </a>
            </li>

            <!--  -----  item 7 - 3  -----  -->
            <li class="footer__item">
                <a href="#" data-id="clase07DataRemoveData">
                    3. Métodos data() y removeData()
                </a>
            </li>

            <!--  -----  item 7 - 4  -----  -->
            <li class="footer__item">
                <a href="#" data-id="clase07Each">
                    4. Método each() para recorrer elementos
                </a>
            </li>

                <!-- <div class="footer__list-separator"> </div> -->

        </ul>

        
        <!--  
            -----------------------------
            -----  List -  Clase 8  -----
            -----------------------------
        -->
        <ul class="footer__list footer__list--clase-08">
            
            <li class="footer__list-title">
                <h3> Clase 8 - Selectores jQuery y traversing </h3>
            </li>

            <li class="footer__item">
                <a href="#" data-id="clase08">
                    Clase 8 - Selectores jQuery y traversing
                </a>
            </li>

            <!--  -----  item 8 - 1  -----  -->
            <li class="footer__item">
                <a href="#" data-id="clase08SelectoresJerarquia">
                    Clase 8 - 1. Selectores Jerarquia
                </a>
            </li>

            <!--  -----  item 8 - 2  -----  ----->
            <li class="footer__item">
                <a href="#" data-id="clase08ProbarSelectores">
                    Clase 8 - 2. Probar Selectores
                </a>
            </li>

            <!--  -----  item 8 - 3  -----  ----->
            <li class="footer__item">
                <a href="#" data-id="clase08Traversing">
                    Clase 8 - 3. Traversing
                </a>
            </li>

            <!--  -----  item 8 - 4  -----  -->
            <li class="footer__item">
                <a href="#" data-id="clase08Contexto">
                    Clase 8 - 4. Partir de un Contexto
                </a>
            </li>

                <!-- <div class="footer__list-separator"> </div> -->
            </ul>


        <!--  
            -----------------------------
            -----  List -  Clase 9  -----
            -----------------------------
        -->
        <ul class="footer__list footer__list--clase-09">
            
            <li class="footer__list-title">
                <h3> Clase 9 - Dudas y conceptos I </h3>
            </li>

            <li class="footer__item">
                <a href="#" data-id="clase09">
                    Clase 9 - Dudas y conceptos I
                </a>
            </li>

            <!-- <div class="footer__list-separator"> </div> -->

        </ul>


        <!--  
            -----------------------------
            -----  List -  Clase 10  -----
            -----------------------------
        -->
        <ul class="footer__list footer__list--clase-10">
            <li class="footer__list-title">
                <h3> Clase 10 - Manipulación avanzada del contenido </h3>
            </li>

            <li class="footer__item">
                <a href="#" data-id="clase10">
                    Clase 10 - Manipulación avanzada del contenido
                </a>
            </li>

            <!-- <div class="footer__list-separator"> </div> -->

        </ul>


        <!--  
            -------------------------------
            -----  List  -  Clase 11  -----
            -------------------------------
        -->
        <ul class="footer__list footer__list--clase-11">

            <li class="footer__list-title">
                <h3> Clase 11 - Eventos en jQuery </h3>
            </li>

            <li class="footer__item">
                <a href="#" data-id="clase11">
                    Eventos en jQuery
                </a>
            </li>

            <!-- <div class="footer__list-separator"> </div> -->

        </ul>


        <!--  
            ------------------------------
            -----  List -  Clase 12  -----
            ------------------------------
        -->
        <ul class="footer__list footer__list--clase-12">

            <li class="footer__list-title">
                <h3> Clase 12 - Eventos de teclado y ratón </h3>
            </li>

            <!--  -----  item 1  -----  -->
            <li class="footer__item">
                <a href="#" data-id="clase12">
                    Clase 12 - Eventos de teclado y ratón
                </a>
            </li>
            
            <!-- <div class="footer__list-separator"> </div> -->

        </ul>


        <!--  
            ------------------------------
            -----  List -  Clase 13  -----
            ------------------------------
        -->
        <ul class="footer__list footer__list--clase-13">
            <li class="footer__list-title">
                <h3> Clase 13 - Efectos en jQuery </h3>
            </li>

            <!--  -----  item 1  -----  -->
            <li class="footer__item">
                <a href="#" data-id="clase13">
                    Clase 13 - Efectos en jQuery
                </a>
            </li>
            
            <div class="footer__list-separator"> </div>

        </ul>


        <!--  
            ------------------------------
            -----  List -  Clase 14  -----
            ------------------------------
        -->
        <ul class="footer__list footer__list--clase-14">
            
            <li class="footer__list-title">
                <h3> Clase 14 - Cola de efectos </h3>
            </li>
            
            <li class="footer__item">
                <a href="#" data-id="clase14">
                    Clase 14 - Cola de efectos
                </a>
            </li>

            <div class="footer__list-separator"> </div>

        </ul>


        <!--  
            -----------------------------
            -----  List -  Clase 15  -----
            -----------------------------
        -->
        <ul class="footer__list footer__list--clase-15">
            
            <li class="footer__list-title">
                <h3> Clase 15 - JSON </h3>
            </li>

            <li class="footer__item">
                <a href="#" data-id="clase15">
                    Clase 15 - JSON
                </a>
            </li>

            <div class="footer__list-separator"> </div>

        </ul>


        <!--  
            ------------------------------
            -----  List -  Clase 16  -----
            ------------------------------
        -->
        <ul class="footer__list footer__list--clase-16">
            
            <li class="footer__list-title">
                <h3> Clase 16 - Ajax: Interfaz de alto nivel </h3>
            </li>
            
            <li class="footer__item">
                <a href="#" data-id="clase16">
                    Clase 16 - Ajax: Interfaz de alto nivel
                </a>
            </li>

            <div class="footer__list-separator"> </div>

        </ul>

        
        <!--  
            ------------------------------
            -----  List -  Clase 17  -----
            ------------------------------
        -->
        <ul class="footer__list footer__list--clase-17">
            
            <li class="footer__list-title">
                <h3> Clase 17 - Dudas y conceptos II </h3>
            </li>

            <li class="footer__item">
                <a href="#" data-id="clase17">
                    Clase 17 - Dudas y conceptos II
                </a>
            </li>

            <div class="footer__list-separator"> </div>

        </ul>

        
        <!--  
            -----------------------------
            -----  List -  Clase 18  -----
            -----------------------------
        -->
        <ul class="footer__list footer__list--clase-18">
            
            <li class="footer__list-title">
                <h3> Clase 18 - Formularios Ajax </h3>
            </li>

            <li class="footer__item">
                <a href="#" data-id="clase18">
                    Clase 18 - Formularios Ajax
                </a>
            </li>

            <div class="footer__list-separator"> </div>

        </ul>


        <!--  
            ------------------------------
            -----  List -  Clase 19  -----
            ------------------------------
        -->
        <ul class="footer__list footer__list--clase-19">
            
            <li class="footer__list-title">
                <h3> Clase 19 - Eventos avanzados </h3>
            </li>

            <li class="footer__item">
                <a href="#" data-id="clase19">
                    Clase 19 - Eventos avanzados
                </a>
            </li>

            <div class="footer__list-separator"> </div>

        </ul>


        <!--  
            ------------------------------
            -----  List -  Clase 20  -----
            ------------------------------
        -->
        <ul class="footer__list footer__list--clase-20">
            <li class="footer__list-title">
                <h3> Clase 20 - Ajax low level </h3>
            </li>

            <li class="footer__item">
                <a href="#" data-id="clase20">
                    Clase 20 - Ajax low level
                </a>
            </li>

            <div class="footer__list-separator"> </div>

        </ul>


        <!--  
            ------------------------------
            -----  List -  Clase 21  -----
            ------------------------------
        -->
        <ul class="footer__list footer__list--clase-21">
            <li class="footer__list-title">
                <h3> Clase 21 - Práctica 1 </h3>
            </li>

            <li class="footer__item">
                <a href="#" data-id="clase21">
                    Clase 21 - Práctica 1
                </a>
            </li>

            <div class="footer__list-separator"> </div>

        </ul>


        <!--  
            ------------------------------
            -----  List -  Clase 22  -----
            ------------------------------
        -->
        <ul class="footer__list footer__list--clase-22">
            <li class="footer__list-title">
                <h3> Clase 22 - Deferred y promises </h3>
            </li>

            <li class="footer__item">
                <a href="#" data-id="clase22">
                    Clase 22 - Deferred y promises
                </a>
            </li>

            <div class="footer__list-separator"> </div>

        </ul>


        <!--  
            ------------------------------
            -----  List -  Clase 23  -----
            ------------------------------
        -->
        <ul class="footer__list footer__list--clase-23">
            <li class="footer__list-title">
                <h3> Clase 23 - Dudas y conceptos III </h3>
            </li>

            <li class="footer__item">
                <a href="#" data-id="clase23">
                    Clase 23 - Dudas y conceptos III
                </a>
            </li>

            <div class="footer__list-separator"> </div>

        </ul>


        <!--  
            ------------------------------
            -----  List -  Clase 24  -----
            ------------------------------
        -->
        <ul class="footer__list footer__list--clase-24">
            <li class="footer__list-title">
                <h3> Clase 24 - Template system </h3>
            </li>

            <li class="footer__item">
                <a href="#" data-id="clase24">
                    Clase 24 - Template system
                </a>
            </li>

            <div class="footer__list-separator"> </div>

        </ul>


        <!--  
            ------------------------------
            -----  List -  Clase 25  -----
            ------------------------------
        -->
        <ul class="footer__list footer__list--clase-25">
            <li class="footer__list-title">
                <h3> Clase 25 - jQuery plugins </h3>
            </li>

            <li class="footer__item">
                <a href="#" data-id="clase25">
                    Clase 25 - jQuery plugins
                </a>
            </li>

            <div class="footer__list-separator"> </div>

        </ul>


        <!--  
            ------------------------------
            -----  List -  Clase 26  -----
            ------------------------------
        -->
        <ul class="footer__list footer__list--clase-26">
            <li class="footer__list-title">
                <h3> Clase 26 - Variables gestión de opciones en plugins  </h3>
            </li>

            <li class="footer__item">
                <a href="#" data-id="clase26">
                    Clase 26 - Variables gestión de opciones en plugins  
                </a>
            </li>

            <div class="footer__list-separator"> </div>

        </ul>


        <!--  
            ------------------------------
            -----  List -  Clase 27  -----
            ------------------------------
        -->
        <ul class="footer__list footer__list--clase-27">
            
            <li class="footer__list-title">
                <h3> Clase 27 - Tecnicas para desarrollos de plugins complejos </h3>
            </li>
            
            <li class="footer__item">
                <a href="#" data-id="clase27">
                    Clase 27 - Tecnicas para desarrollos de plugins complejos
                </a>
            </li>

            <div class="footer__list-separator"> </div>

        </ul>


        <!--  
            ------------------------------
            -----  List -  Clase 28  -----
            ------------------------------
        -->
        <ul class="footer__list footer__list--clase-28">
            
            <li class="footer__list-title">
                <h3> Clase 28 - Librerias de componentes: jQuery UI </h3>
            </li>

            <li class="footer__item">
                <a href="#" data-id="clase28">
                    Clase 28 - Librerias de componentes: jQuery UI
                </a>
            </li>

            <div class="footer__list-separator"> </div>

        </ul>


        <!--  
            ------------------------------
            -----  List -  Clase 29  -----
            ------------------------------
        -->
        <ul class="footer__list footer__list--clase-29">
            
            <li class="footer__list-title">
                <h3> Clase 29 - Usando jQuery UI </h3>
            </li>

            <li class="footer__item">
                <a href="#" data-id="clase29">
                    Clase 29 - Usando jQuery UI
                </a>
            </li>

            <div class="footer__list-separator"> </div>

        </ul>


        <!--  
            ------------------------------
            -----  List -  Clase 30  -----
            ------------------------------
        -->
        <ul class="footer__list footer__list--clase-30">
            
            <li class="footer__list-title">
                <h3> Clase 30 - Práctica 2 </h3>
            </li>

            <li class="footer__item">
                <a href="#" data-id="clase30">
                    Clase 30 - Práctica 2
                </a>
            </li>

            <div class="footer__list-separator"> </div>

        </ul>

      
    </main>

</div>
