<!--  
    -----------------------------------------------
    ----------  /jquery.antonydev.tech/  ----------
    ----------  /src/components/layout/  ----------
    ----------  /escuela.it/  ---------------------
    ----------  /layout-header.html  --------------
    -----------------------------------------------
-->



<!--  
    ------------------------------
    ----------  HEADER  ----------
    ------------------------------  
-->
<div class="header__container">


    <!--  
        ---------------------------------------------------------------
        -----  Contenedor de los icons y Logos de jQuery y Cursos -----
        ---------------------------------------------------------------
    -->

    <div class="header__container-icons-logos">


        <!--  -----  Contenedor de los Logos de jQuery -----  -->
        <div class="container-icons-logos__jquery">

            <!--  -----  Contenedor Icon y Logo de jQuery -----  -->
            <div class="jquery__icon-logo">

                <!--  -----  Logo de jQuery -----  -->
                <a href="https://jquery.com/" target="_blank" rel="noopener noreferrer">
                    <img 
                       class="jquery-logo"
                        src="/04-escuela.it/curso-jquery-escuela.it/assets/img/logos/jquery/jquery-logo.svg"
                        alt="Banner jQuery"
                        width="253"
                        height="63"
                        
                    >
                </a>

                <!--  -----  Icon de jQuery -----  -->
                <a href="https://jquery.com/" target="_blank" rel="noopener noreferrer">
                    <img 
                        class="jquery-icon"
                        src="/04-escuela.it/curso-jquery-escuela.it/assets/img/logos/jquery/jquery-icon.svg"
                        alt="Logo jQuery"
                        width="128"
                        height="128"
                    >
                </a>

            </div>
          
        </div>


        <!--  -----  Contenedor de los Logos de los cursos  -----  -->
        <div class="container-logos__cursos container-logos__cursos--first">

            <!--  -----  Logo de Escuela.it -----  -->
            <img
                class="cursos__logos cursos__logos--escuela-it"
                src="/04-escuela.it/curso-jquery-escuela.it/assets/img/logos/escuelait/escuelait-logo.avif"
                alt="Logo Escuela.it"
                width="200"
                height="200"
            >

        </div>

    </div>



    <!--  
        ---------------------------------------------
        -----  Contenedor del Título del Header -----
        ---------------------------------------------
    -->
        
    <div class="header__container-title">

        <div class="container__title-main container__title-main--first">

             <h1 class="header__title-main"> 
                <a 
                    href="#" 
                    data-id="home" 
                    title=" 🏡Ir a Inicio 🏡"
                    aria-label="Ir a Inicio"
                >
                    &lt; Curso jQuery Escuela.IT /&gt; 
                </a>
            </h1>

        </div>

        <div class="container__title-page">
             
            <h2 class="header__title-page" id="headerTitle"> 
                <!--  *****  renderizado del título con el plugin de jQuery  *****  -->
            </h2>

        </div>

        <div class="container__title-main container__title-main--last">

             <h3 class="header__title-main"> 
                &lt; escuela.it /&gt;
            </h3>

        </div>
                
    </div>


    
    <!--  
        ------------------------------------------------------------------
        -----  Contenedor de los Icons y Logos de jQuery UI y Cursos -----
        ------------------------------------------------------------------
    -->
    
    <div class="header__container-icons-logos">

        <!--  -----  Contenedor Icon y Logo de jQuery UI  -----  -->
        <div class="container-icons-logos__jquery-ui">

            <!--  -----  Icon y Logo de jQuery UI -----  -->
            <div class="jquery-ui__icon-logo">

                <!--  -----  icon de GitHub -----  -->
                <a href="https://github.com/AntoniCut/jquery.antonydev.tech" target="_blank" rel="noopener noreferrer">
                    <img 
                        class="github-icon"
                        src="/04-escuela.it/curso-jquery-escuela.it/assets/img/logos/github/github-icon.svg"
                        alt="Logo GitHub"
                        width="32"
                        height="32"
                    >
                </a>

                <!--  -----  Logo de jQuery UI -----  -->
                <a href="https://jqueryui.com/" target="_blank" rel="noopener noreferrer">
                    <img 
                        class="jquery-ui-logo"
                        src="/04-escuela.it/curso-jquery-escuela.it/assets/img/logos/jquery-ui/jquery-ui-logo.avif"
                        alt="Banner jQuery UI"
                        width="1280"
                        height="325"
                        
                    >
                </a>

                <!--  -----  Icon de jQuery UI -----  -->
                <a href="https://jqueryui.com/" target="_blank" rel="noopener noreferrer">
                    <img 
                        class="jquery-ui-icon"
                        src="/04-escuela.it/curso-jquery-escuela.it/assets/img/logos/jquery-ui/jquery-ui-icon.svg"
                        alt="Logo jQuery UI"
                        width="68"
                        height="59"
                        
                    >
                </a>

            </div>

        </div>


        <!--  -----  Contenedor de los Logos de los cursos  -----  -->
        <div class="container-logos__cursos container-logos__cursos--last">
            
            <!--  -----  Logos de Escuela.it -----  -->
            <img
                class="cursos__logos cursos__logos--escuela-it-icon"
                src="/04-escuela.it/curso-jquery-escuela.it/assets/img/logos/escuelait/escuelait-icon.ico"
                alt="Logo Escuela.it"
                width="32"
                height="32"
            >
                        
        </div>

    </div>

</div>
