<!--  
    -------------------------------------------------
    ----------  /jquery.antonydev.tech/  ------------
    ----------  /04-escuela.it/  --------------------
    ----------  /curso-jquery-escuela.it/  ----------
    ----------  /src/components/layout/  ------------
    ----------  /layout-navbar.html  ----------------
    -------------------------------------------------
-->


<!--
    ------------------------------
    ----------  NAVBAR  ----------  
    ------------------------------
-->

<div class="navbar__container" title="Arrrastrame!!!">


    <!--
        --------------------------------------  
        -----  Título del menú (navbar)  -----
        --------------------------------------  
    -->
    <div class="navbar__title navbar__title--first">

        <!--  -----  Icon de jQuery -----  -->
        <a href="https://jquery.com/" target="_blank" rel="noopener noreferrer">
            <img class="navbar-jquery-icon"
                src="/04-escuela.it/curso-jquery-escuela.it/assets/img/jquery/jquery-icon.svg" alt="Logo jQuery"
                loading="lazy">
        </a>

        <a href="#">
            <h3> Navigation </h3>
        </a>

        <!--  -----  Icon de jQuery UI -----  -->
        <a href="https://jqueryui.com/" target="_blank" rel="noopener noreferrer">
            <img class="navbar-jquery-ui-icon"
                src="/04-escuela.it/curso-jquery-escuela.it/assets/img/jquery-ui/jquery-ui-icon.svg"
                alt="Logo jQuery UI" loading="lazy">
        </a>

    </div>

    
    <ul class="navbar__list">

        <!--  -----  Home  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="home">
                Curso jQuery - escuela.it
            </a>
        </li>

        <!--  -----  item 1  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="clase01">
                Clase 1 - Que es jQuery
            </a>
        </li>

        <!--  -----  item 2  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="clase02">
                Clase 2 - Usar jQuery en la Actualidad
            </a>
        </li>

        <!--  -----  item 3  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="clase03">
                Clase 3 - Práctica primeros pasos
            </a>
        </li>

        <!--  -----  item 4  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="clase04">
                Clase 4 - Como se organiza el curso
            </a>
        </li>

        <!--  -----  item 5  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="clase05">
                Clase 5 - Introducción a jQuery
            </a>
        </li>

    </ul>


</div>