<!--  
    -----------------------------------------------
    ----------  /jquery.antonydev.tech/  ----------
    ----------  /src/components/layout/  ----------
    ----------  /escuela.it/  ---------------------
    ----------  /layout-header.html  --------------
    -----------------------------------------------
-->



<!--  
    ------------------------------
    ----------  HEADER  ----------
    ------------------------------  
-->
<div class="header__container">


    <!--  
        ---------------------------------------------------------------
        -----  Contenedor de los icons y Logos de jQuery y Cursos -----
        ---------------------------------------------------------------
    -->

    <div class="header__container-icons-logos">


        <!--  -----  Contenedor de los Logos de jQuery -----  -->
        <div class="container-icons-logos__jquery">

            <!--  -----  Contenedor Icon y Logo de jQuery -----  -->
            <div class="jquery__icon-logo">

                <!--  -----  Logo de jQuery -----  -->
                <a href="https://jquery.com/" target="_blank" rel="noopener noreferrer">
                    <img 
                       class="jquery-logo"
                        src="/04-escuela.it/curso-jquery-escuela.it/assets/img/jquery/jquery-logo.svg"
                        alt="Banner jQuery"
                        loading="lazy"
                    >
                </a>

                <!--  -----  Icon de jQuery -----  -->
                <a href="https://jquery.com/" target="_blank" rel="noopener noreferrer">
                    <img 
                        class="jquery-icon"
                        src="/04-escuela.it/curso-jquery-escuela.it/assets/img/jquery/jquery-icon.svg"
                        alt="Logo jQuery"
                        loading="lazy"
                    >
                </a>

            </div>
          
        </div>



        <!--  -----  Contenedor de los Logos de los cursos  -----  -->
        <div class="container-logos__cursos">

            <!--  -----  Logos de Escuela.it -----  -->
            <img
                class="cursos__logos cursos__logos--escuela-it"
                src="/04-escuela.it/curso-jquery-escuela.it/assets/img/logos/escuelait.avif"
                alt="Logo Escuela.it"
                loading="lazy"
            >

        </div>

    </div>



    <!--  
        ---------------------------------------------
        -----  Contenedor del Título del Header -----
        ---------------------------------------------
    -->
        
    <div class="header__container-title">

        <!--  -----  Título del Header -----  -->
        <h1 class="header__title"> 
            
            <a href="#" data-id="home">
                &lt; Curso jQuery Escuela.IT /&gt; 
            </a>
            
            <!--  -----  renderizado del título con el plugin de jQuery  -----  -->
            <p id="headerTitle"> </p>

            &lt; escuela.it /&gt;

        </h1>
        
    </div>


     <!--  
        ------------------------------------------------------------------
        -----  Contenedor de los Icons y Logos de jQuery UI y Cursos -----
        ------------------------------------------------------------------
    -->
    
    <div class="header__container-icons-logos">

        <!--  -----  Contenedor Icon y Logo de jQuery UI  -----  -->
        <div class="container-icons-logos__jquery-ui">

            <!--  -----  Icon y Logo de jQuery UI -----  -->
            <div class="jquery-ui__icon-logo">

                <!--  -----  icon de GitHub -----  -->
                <a href="https://github.com/AntoniCut/jquery.antonydev.tech" target="_blank" rel="noopener noreferrer">
                    <img 
                        class="github-icon"
                        src="/04-escuela.it/curso-jquery-escuela.it/assets/img/logos/github-icon.svg"
                        alt="Logo GitHub"
                        loading="lazy"
                    >
                </a>

                <!--  -----  Logo de jQuery UI -----  -->
                <a href="https://jqueryui.com/" target="_blank" rel="noopener noreferrer">
                    <img 
                        class="jquery-ui-logo"
                        src="/04-escuela.it/curso-jquery-escuela.it/assets/img/jquery-ui/jquery-ui-logo.avif"
                        alt="Banner jQuery UI"
                        loading="lazy"
                    >
                </a>

                <!--  -----  Icon de jQuery UI -----  -->
                <a href="https://jqueryui.com/" target="_blank" rel="noopener noreferrer">
                    <img 
                        class="jquery-ui-icon"
                        src="/04-escuela.it/curso-jquery-escuela.it/assets/img/jquery-ui/jquery-ui-icon.svg"
                        alt="Logo jQuery UI"
                        loading="lazy"
                    >
                </a>

            </div>

        </div>


        <!--  -----  Contenedor de los Logos de los cursos  -----  -->
        <div class="container-logos__cursos">
            
            <!--  -----  Logo de Escuela.it -----  -->
            <img
                class="cursos__logos cursos__logos--escuela-it"
                src="/04-escuela.it/curso-jquery-escuela.it/assets/img/logos/escuelait.avif"
                alt="Logo Escuela.it"
                loading="lazy"
            >
                        
        </div>

    </div>

</div>
