/*
    ---------------------------------------------------
    ----------  /jquery.antonydev.tech/  --------------
    ----------  /04-escuela.it/  ----------------------
    ----------  /curso-jquery-escuela.it/  ------------
    ----------  /src/styles/pages/clase-08/  ----------
    ----------  /03-traversing.css  -------------------
    ---------------------------------------------------
*/

/*
.section__content--practica {
    min-height: 70rem;
}

@media (min-width: 768px) {
    
    .section__content--practica {
        min-height: 70rem;
    }
}
*/
.section__content--btns {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.btn__container {
    display: flex;
    justify-content: flex-start;
}

.btn__action {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    border-radius: 100px;
    font-size: 1rem;
    font-weight: bold;
}

.btn__description {
    margin-left: 1rem;
    font-size: 1.2rem;
    color: #333;    
}

.section__content--practica ul,
.section__content--practica li {
    list-style: disc;
}

.section__content--practica li {
    margin-left: 2rem;
}