/*
    -----------------------------------------------------
    ----------  /jquery.antonydev.tech/  ----------------
    ----------  /04-escuela.it/  ------------------------
    ----------  /curso-jquery-escuela.it/  --------------
    ----------  /src/styles/pages/clase-08/  ------------
    ----------  /04-partir-de-un-contexto.css  ----------
    -----------------------------------------------------
*/

.section__content--practica {
    min-height: 70rem;
}

@media (min-width: 768px) {
    
    .section__content--practica {
        min-height: 70rem;
    }
}
