/*
    ---------------------------------------------------
    ----------  /jquery.antonydev.tech/  --------------
    ----------  /04-escuela.it/  ----------------------
    ----------  /curso-jquery-escuela.it/  ------------
    ----------  /src/styles/pages/clase-07/  ----------
    ----------  /01-metodos-html-text.css  ------------
    ---------------------------------------------------
*/

.section__content--practica {
    min-height: 70rem;
}

@media (min-width: 768px) {
    
    .section__content--practica {
        min-height: 70rem;
    }
}

#btnHtml,
#btnText {
    width: 10rem;
}

.description {
    width: 90%;
    padding: 2rem;
    background-color: #eef2f7;
    box-shadow: 10px 10px 15px rgba(0,0,0,0.2);
}

.info {
    width: 90%;
    padding: 2rem;
    color:aliceblue;
    background-color: #064ea4;
    box-shadow: 10px 10px 15px rgba(0,0,0,0.2);
}

.output {
    width: 90%;
    min-height: 20rem;
    padding: 2rem;
    background-color: #eef2f7;
    box-shadow: 10px 10px 15px rgba(0,0,0,0.2);
    opacity: 0;
}



