/*
    ---------------------------------------------------
    ----------  /jquery.antonydev.tech/  --------------
    ----------  /04-escuela.it/  ----------------------
    ----------  /curso-jquery-escuela.it/  ------------
    ----------  /src/styles/pages/clase-07/  ----------
    ----------  /02-formularios.css  ------------------
    ---------------------------------------------------
*/

/*
.section__content--practica {
    min-height: 70rem;
}

@media (min-width: 768px) {
    
    .section__content--practica {
        min-height: 70rem;
    }
}
*/
.formulario {
    width: 90%;
    min-height: 30rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    
    background: linear-gradient(
        to right,
      #e88b80 0%,
      #f7f7f7 50%,
      #e88b80 100%
    );

    box-shadow: 50px 50px 100px rgb(209, 220, 235);
    padding: 5rem;
    border-radius: 0.5rem;
}

.legend {
    font-size: 2.2rem;
    font-weight: 700;
    padding: 2rem;
}


.form__group {
    display: flex;
    gap: 2rem;
}

#inputNombre {
    padding: 1rem;
    font-size: 1.8rem;
    border-radius: 0.5rem;
    border: 2px solid #ccc;
    background-color: white;
}


#bloqueAvanzado {
    display: block;
    height: 8.5rem;
    padding: 2rem;
    background-color: #ddd;
}

#bloqueAvanzado a {
    color: blueviolet;
    font-size: 1.8rem;
    font-weight: 600;
}

#bloqueAvanzado a:hover {
    font-size: 2.2rem;
}

.error {
    background-color: #f99 !important;
    border: 2px solid red !important;
}




