/*
    ---------------------------------------------------
    ----------  /jquery.antonydev.tech/  --------------
    ----------  /04-escuela.it/  ----------------------
    ----------  /curso-jquery-escuela.it/  ------------
    ----------  /src/styles/pages/clase-07/  ----------
    ----------  /02-formularios.css  ------------------
    ---------------------------------------------------
*/

/*
.section__content--practica {
    min-height: 70rem;
}

@media (min-width: 768px) {
    
    .section__content--practica {
        min-height: 70rem;
    }
}
*/
#capa,
#acumula {
    width: 30rem;
    cursor: pointer;
    background-color: cornflowerblue;
    padding: 1rem 2rem;
    color: #fff;
    font-size: 2.4rem;
    text-align: center;
}

#infoCapa,
#infoAcumula {
    width: 30rem;
    padding: 3rem;
    background-color: #8eafeb;
}

.texto-info {
    width: 100%;
    height: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 1.4rem;
}
